<nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-column flex-md-row bd-navbar"> 
  <a class="navbar-brand" href="#">Trip Manager<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/users'"  routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" >Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/expensedetails" >Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/trips" >Trips</a>
      </li>
    </ul>
  </div>
    <div class="my-2 my-lg-2">
        <div class="btn-group" dropdown>
            <i class="fa fa-user fa-2x" dropdownToggle><span class="caret"></span></i>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" 
                href="javascript:void(0)"
                (click)="Login()">Sign In</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">My Account</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Log Out</a></li>
            </ul>
          </div>
    </div>
</nav>
<div  class="container-fluid" style="margin-top: 20px">
  <router-outlet></router-outlet>
</div>